* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition: all .3s ease-out;
}

body.darkTheme{
  background-color: #37383C;
}

header {
  position: fixed;
  top: 0px;
  left: 0;

  width: 100%;
  height: 95px;

  padding: 29px 22px 17px 22px;

  z-index: 10;
  border-top: 5px solid #572ee5;
  margin-bottom: 7px;
  background-color: white;

  transition: all 0.3s;
  /* box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55); */
}

body.darkTheme header{
  background-color: #37383C;
  border-top: 5px solid #000;
}

header.sticky {
  /* height: 90px; */
  box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo-container .logo-mobile {
  display: block;
}

header nav .logo-container .logo-desktop {
  display: none;
}

/* MENU */
header nav ul.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 95px;
  left: 0;
  background: rgba(87, 46, 229, 0.9);
  list-style: none;
  text-align: center;
  display: none;
  flex-direction: column;
  transition: all 0.3s;
}

header nav ul.menu.showMenu {
  display: flex;
}

header nav ul.menu li {
  padding: 20px 20px 5px 20px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 23px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header nav ul.menu li a {
  color: #ffffff;
  text-decoration: none;
}



header nav ul.menu li::after {
  content: '';
  width: 41px;
  opacity: 0.5;
  border-bottom: 1px solid #ffffff;
}

header nav .menu-toggle {
  width: 100%;
  height: 14px;
  text-align: right;
  display: block;
  background-image: url('../assets/images/burger.svg');
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

header nav .menu-toggle.show-close {
  background-image: url('../assets/images/close.svg');
}

/* MAIN */
main {
  padding-top: 102px;
}

/* SECCTION SEARCH  */
section.search-gif-container {
  padding: 10px 20px 45px 20px;
  margin-top: 60px;
}
section.search-gif-container h1 {
  padding: 0px 20px 0px 20px;
  color: #572ee5;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 31px;
}

body.darkTheme  section.search-gif-container h1 {
  color: #fff;
}

section.search-gif-container span.brand-app {
  color: #50e3c2;
}

section.search-gif-container .search-gif-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.search-gif-container .search-gif-box .search-gif-img {
  max-height: 132px;
}

section.search-gif-container .search-gif-box .search-gif-img img {
  width: 273px;
}

section.search-gif-container .search-gif-box .search-gif-input {
  border: 1px solid #572ee5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 55px;
  border-radius: 27px;
  width: 100%;
  margin-bottom: 31px;
}

body.darkTheme section.search-gif-container .search-gif-box .search-gif-input {
  border: 1px solid #fff;
}



section.search-gif-container .search-gif-box .search-gif-input input {
  border: none;
  color: #000;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
}

section.search-gif-container .search-gif-box .search-gif-input input::placeholder {
  color: #6b7989;
}

body.darkTheme section.search-gif-container .search-gif-box .search-gif-input input::placeholder {
  color: white;
}


section.search-gif-container .search-gif-box .search-gif-input input:focus {
  outline: none;
}

section.search-gif-container .search-gif-box .search-gif-input img {
  margin-left: 24px;
}

section.search-gif-container .search-gif-box .search-gif-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 236px;
}

section.search-gif-container .search-gif-box .search-gif-text h2 {
  font-size: 16px;
  font-weight: 700;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

body.darkTheme section.search-gif-container .search-gif-box .search-gif-text h2 {
  color: #fff;
}

section.search-gif-container .search-gif-box .search-gif-text p {
  font-size: 14px;
  font-weight: 400;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

body.darkTheme section.search-gif-container .search-gif-box .search-gif-text p  {
  color: #fff;
}

/* Divisor */

.divider {
  width: 157px;
  height: 1px;
  margin: 0 auto;
  background-color: #9cafc3;
  opacity: 0.5;
}

/* SECCTION RESULTS */
section.search-results {
  padding: 43px 21px 79px 21px;
}

section.search-results h2 {
  margin-bottom: 38px;
  color: #572ee5;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

body.darkTheme section.search-results h2 {
  color: #fff;
}

section.search-results .search-gallery-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

section.search-results .search-gallery-results .gallery-result-item {
  width: 100%;
  max-width: 156px;
  max-height: 120px;
  margin-bottom: 25px;
}

section.search-results .search-gallery-results .gallery-result-item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

section.search-results .search-results-view-more {
  text-align: center;
}

section.search-results .search-results-view-more button {
  padding: 16px 32px;
  border-radius: 25px;
  border: 1px solid #572ee5;
  background-color: #fff;

  font-weight: 700;
  font-size: 13px;
  color: #572ee5;
  letter-spacing: 0;
  text-align: center;
}

/* SECCTION TRENDING */
section.trending-gif {
  background-color: #f3f5f8;
  padding: 44px 0 82px 22px;
}

body.darkTheme section.trending-gif {
  background-color: #222326;
}



section.trending-gif h2 {
  font-weight: 700;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 30px;
}

body.darkTheme section.trending-gif h2 {
  color: #fff;
}

section.trending-gif .trending-texts {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 32px;
}

body.darkTheme section.trending-gif .trending-texts {
  color: #fff;
}

section.trending-gif .gallery-scroll-results {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
section.trending-gif .gallery-scroll-results .gallery-item {
  width: 100%;
  margin-right: 22px;
}

section.trending-gif .gallery-scroll-results .gallery-item img {
  width: 243px;
  height: 187px;
  object-fit: cover;
}

/* SECCTION GIF / PARA PáGINAS FAVORITOS y MIS GIFOS */
section.layout-gif-container {
  padding: 10px 21px 79px 21px;
}

section.layout-gif-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 46px;
}

section.layout-gif-container .title .icon {
  max-height: 32px;
}

section.layout-gif-container .title h2 {
  color: #572ee5;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

body.darkTheme section.layout-gif-container .title h2 {
  color: #fff;
}

section.layout-gif-container .layout-gif-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

section.layout-gif-container .layout-gif-gallery .gif-item {
  width: 100%;
  max-width: 156px;
  max-height: 120px;
  margin-bottom: 25px;
}

section.layout-gif-container .layout-gif-gallery .gif-item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

section.layout-gif-container .layout-gif-view-more {
  text-align: center;
}

section.layout-gif-container .layout-gif-view-more button {
  padding: 16px 32px;
  border-radius: 25px;
  border: 1px solid #572ee5;
  background-color: #fff;

  font-weight: 700;
  font-size: 13px;
  color: #572ee5;
  letter-spacing: 0;
  text-align: center;
}

body.darkTheme section.layout-gif-container .layout-gif-view-more button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease-out;
  outline: none;
}

body.darkTheme section.layout-gif-container .layout-gif-view-more button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

/* SECCIÓN FOOTER */
footer {
  padding: 47px 22px 28px 22px;
  border-bottom: 5px solid #572ee5;
  height: 196px;
}

body.darkTheme footer {
  border-bottom: 5px solid #000;
}

footer .social-media {
  text-align: center;
  margin-bottom: 48px;
}

footer .social-media h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 24px;
}

body.darkTheme footer .social-media h4 {
  color: #fff;
}

footer .social-media .social-media-icons {
  display: flex;
  justify-content: center;
}

footer .social-media .social-media-icons a {
  margin-right: 20px;
}

footer .social-media .social-media-icons a span.icon-facebook {
  background: url('../assets/images/icon_facebook.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  height: 20px;
  width: 20px;
  right: 0;
  display: block;
}
footer .social-media .social-media-icons a span.icon-twitter {
  background: url('../assets/images/icon-twitter.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 20px;
  width: 20px;
  display: block;
}
footer .social-media .social-media-icons a span.icon-icon_instagram {
  background: url('../assets/images/icon_instagram.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 20px;
  width: 20px;
  display: block;
}

footer .legal p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

body.darkTheme footer .legal p {
  color: #fff;
}

/* RESPONSIVE */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    padding: 18px 156px 13px 156px;
    margin-bottom: 11px;
  }

  header.sticky {
    height: 90px;
    box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
  }

  header nav {
    width: 100%;
  }

  header nav .logo-container .logo-mobile {
    display: none;
  }

  header nav .logo-container .logo-desktop {
    display: block;
  }

  header nav ul.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: auto;
    list-style: none;
    background: transparent;
    position: relative;
    top: 0;
  }

  header nav ul.menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    line-height: 0;
    margin-right: 42px;
    padding: 0;
  }

  header nav ul.menu li::after {
    content: none;
  }

  header nav ul.menu li a {
    height: 22px;
    color: #572ee5;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
  }

  body.darkTheme nav ul.menu li a {
    color: #fff;
  }

  header nav ul li a:hover,
  header nav ul li a:active {
    border-bottom: 2px solid #5ed7c6;
  }

  header nav .menu-toggle {
    display: none;
  }

  main {
    padding-top: 102px;
  }

  section.search-gif-container h1 {
    width: 55%;
    margin: auto;
    margin-bottom: 27px;
  }

  

  section.search-gif-container .search-gif-box {
    width: 55%;
    margin: 0 auto;
  }

  section.search-gif-container .search-gif-box .search-gif-input {
    margin-bottom: 73px;
  }

  section.search-results {
    padding: 43px 156px 79px 156px;
  }
  section.search-results .search-gallery-results .gallery-result-item {
    width: 100%;
    max-width: 260px;
    max-height: 200px;
  }

  section.search-results .search-gallery-results .gallery-result-item img {
    width: 100%;
    height: 200px;
  }

  section.layout-gif-container {
    padding: 10px 156px 78px 156px;
  }

  section.layout-gif-container .title {
    margin-bottom: 36px;
  }

  section.layout-gif-container .layout-gif-gallery .gif-item {
    width: 100%;
    max-width: 260px;
    max-height: 200px;
    margin-bottom: 35px;
  }

  section.layout-gif-container .layout-gif-gallery .gif-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
