/***************************************/
/* RESET */
/***************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************************/
/* BODY */
/***************************************/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  transition: all 0.3s ease-out;

  &.darkTheme {
    background-color: #37383c;
  }
}

/***************************************/
/* HEADER */
/***************************************/
header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 95px;
  padding: 29px 22px 17px 22px;
  z-index: 10;
  border-top: 5px solid #572ee5;
  margin-bottom: 7px;
  background-color: white;
  transition: all 0.3s;
  /* box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55); */

  &.sticky {
    /* height: 90px; */
    box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
  }

  body.darkTheme & {
    background-color: #37383c;
    border-top: 5px solid #000;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
      .logo-mobile {
        display: block;
        width: 55px;
        height: 50px;
        background-image: url(../assets/images/logo-mobile.svg);
        background-repeat: no-repeat;

        body.darkTheme & {
          background-image: url(../assets/images/logo-mobile-modo-noct.svg);
        }
      }

      .logo-desktop {
        display: none;
        width: 65px;
        height: 60px;
        background-image: url(../assets/images/logo-desktop.svg);
        background-repeat: no-repeat;

        body.darkTheme & {
          background-image: url(../assets/images/Logo-modo-noc.svg);
        }
      }
    }

    ul {
      &.menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 95px;
        left: 0;
        background: rgba(87, 46, 229, 0.9);
        list-style: none;
        text-align: center;
        display: none;
        flex-direction: column;
        transition: all 0.3s;

        body.darkTheme & {
          background: rgba(0, 0, 0, 1);
        }

        &.showMenu {
          display: flex;
        }

        li {
          padding: 20px 20px 5px 20px;
          font-weight: 700;
          font-size: 15px;
          text-align: center;
          line-height: 50px;
          margin-bottom: 23px;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          a {
            color: #ffffff;
            text-decoration: none;

            body.darkTheme & {
              color: #fff;
            }
          }

          &::after {
            content: '';
            width: 41px;
            opacity: 0.5;
            border-bottom: 1px solid #ffffff;
          }
        }
      }
    }

    .menu-toggle {
      width: 100%;
      height: 14px;
      text-align: right;
      display: block;
      background-image: url('../assets/images/burger.svg');
      background-repeat: no-repeat;
      background-position: right;
      cursor: pointer;

      body.darkTheme & {
        background-image: url('../assets/images/burger-modo-noct.svg');
      }

      &.show-close {
        background-image: url('../assets/images/close.svg');

        body.darkTheme & {
          background-image: url('../assets/images/close-modo-noct.svg');
          // background-image: url('../assets/images/Button-close-hover-modo-noc.svg');
        }
      }
    }
  }
}

/***    ADD GIFS    ***/

.createGif {
  padding: 0 156px;
  .createTop {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .box-img {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .cameraImg {
        //   padding-left: 10.8%;
        width: 45%;
      }

      .light {
        width: 145px;
      }
    }

    .bigBox {
      border: solid 1px #572ee5;
      width: 60%;
      height: 390px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .smallBox {
      border: solid 1px #50e3c2;
      width: 94.19%;
      height: 352px;

      padding: 1em;
      //   border: 0.25em solid;
      position: relative;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        background: #fff;

        body.darkTheme & {
          background: #37383c;
        }
      }

      &::before {
        top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
        bottom: -0.3em;
        left: 1em;
        right: 1em;
      }

      &::after {
        left: -0.3em;
        right: -0.3em;
        top: 1em;
        bottom: 1em;
      }
    }

    .borderlessBox {
      border: solid 1px white;
      width: 100%;
      height: 100%;
      margin: 0px;
      border-radius: 27px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: relative;
      z-index: 1;

      body.darkTheme & {
        border: solid 1px #37383c;
      }
    }

    .title {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 25px;
      color: #572ee5;
      text-align: center;
      line-height: 35px;
      margin-bottom: 3px;

      body.darkTheme & {
        color: #fff;
      }

      .word {
        color: #50e3c2;
      }
    }

    .subtitle {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #000000;
      text-align: center;
      line-height: 29px;

      body.darkTheme & {
        color: #fff;
      }
    }
  }

  .createBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box-content-steps {
      width: 70%;
      margin: 0 auto;
      padding-left: 405px;
      padding-right: 250px;
      .box-steps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        max-width: 120px;
        .step1 {
          cursor: pointer;
        }

        .step2 {
          padding: 0 10% 0;
          cursor: pointer;
        }
        .step3 {
          cursor: pointer;
        }
      }
    }

    .peliculaImg {
      margin: 0 11.6% 0 auto;
    }
  }

  .buttonContainerMyGifs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto 0;
    padding-top: 20.1px;
    border-top: solid 6.9px #572ee5;

    .btnAction {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #572ee5;
      border-radius: 25px;
      height: 50px;
      width: 127px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 13px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      transition: all 0.5s ease-out;

      body.darkTheme & {
        color: #fff;
        border: 1px solid white;
        background-color: transparent;

        &:hover {
          background-color: white;
          color: #37383c;
          cursor: pointer;
        }
      }

      &:hover {
        border: 1px solid #572ee5;
        background-color: #572ee5;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.onStep1 {
  content: url('../assets/images/paso-a-paso-hover1.svg');
}

.onStep2 {
  content: url('../assets/images/paso-a-paso-hover2.svg');
}

.onStep3 {
  content: url('../assets/images/paso-a-paso-hover3.svg');
}

.createGif .videoBox {
  display: none;
  height: 320px;
  width: 420px;
  position: relative;
}

.createGif video {
  display: none;
  width: 100%;
  height: 100%;
}

.createGif .gifCountContainer {
  width: 9.1%;
  margin: 0 0 0 9.6%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #572ee5;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.createGif .checkScreen {
  left: 0;
  top: 0;
  padding: 0;
  background: rgba(87, 46, 229, 0.6);
  z-index: +1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}

.createGif .checkIcon {
  margin: 127px 0 9px;
  flex-basis: 100%;
}

.icon-crear-gif-img {
  background-image: url('../assets/images/button-crear-gifo.svg');
  width: 54px;
  height: 54px;
  display: block;
  transition: all 0.3s ease-out;

  &:hover {
    background-image: url('../assets/images/CTA-crear-gifo-hover.svg');
  }
}

/***************************************/
/* SECCIÓN FOOTER  */
/***************************************/
footer {
  padding: 47px 22px 28px 22px;
  border-bottom: 5px solid #572ee5;
  height: 196px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  body.darkTheme & {
    border-bottom: 5px solid #000;
  }

  .social-media {
    text-align: center;
    margin-bottom: 48px;

    h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
      margin-bottom: 24px;

      body.darkTheme & {
        color: #fff;
      }
    }

    .social-media-icons {
      display: flex;
      justify-content: center;

      a {
        margin-right: 20px;

        span {
          &.icon-facebook {
            background: url('../assets/images/icon_facebook.svg');
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: center;
            height: 20px;
            width: 20px;
            right: 0;
            display: block;
          }

          &.icon-twitter {
            background: url('../assets/images/icon-twitter.svg');
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 20px;
            width: 20px;
            display: block;
          }

          &.icon-icon_instagram {
            background: url('../assets/images/icon_instagram.svg');
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 20px;
            width: 20px;
            display: block;
          }
        }
      }
    }
  }

  .legal p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;

    body.darkTheme & {
      color: #fff;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .createGif .spinIcon {
    animation: App-logo-spin infinite 20s linear;
    margin: 127px auto 9px auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.createGif .checkText {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  flex-basis: 100%;
}

.createGif .checkDownload {
  display: none;
  padding: 11px 0 0 0;
  height: 32px;
  justify-content: flex-end;
}

.createGif .checkLink {
  display: none;
  padding: 11px 0 0 0;
  flex-basis: 12%;
  height: 32px;
}

.createGif .checkDownload:hover {
  content: url('..assets/images/icon-download-hover.svg');
}

.createGif .checkLink:hover {
  content: url('..assets/images/icon-link-hover.svg');
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /***************************************/
  /* HEADER */
  /***************************************/
  header {
    padding: 18px 156px 13px 156px;
    margin-bottom: 11px;

    &.sticky {
      height: 90px;
      box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
    }
    nav {
      width: 100%;

      .logo-container {
        .logo-mobile {
          display: none;
        }
        .logo-desktop {
          display: block;
        }
      }

      ul {
        &.menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row;
          height: auto;
          list-style: none;
          background: transparent;
          position: relative;
          top: 0;
          body.darkTheme & {
            background: transparent;
          }

          li {
            list-style: none;
            display: inline-block;
            margin: 0;
            line-height: 0;
            margin-right: 42px;
            padding: 0;

            &::after {
              content: none;
            }

            a {
              height: 22px;
              color: #572ee5;
              border-bottom: 2px solid transparent;
              transition: all 0.3s;

              &:hover,
              &:active,
              &.active {
                border-bottom: 2px solid #5ed7c6;
              }
            }
          }
        }
      }

      .menu-toggle {
        display: none;
      }
    }
  }

  /***************************************/
  /* MAIN */
  /***************************************/
  main {
    padding-top: 102px;
    height: calc(100vh - 121px);
  }

  /***************************************/
  /* SECCIÓN FOOTER  */
  /***************************************/
  footer {
    height: 121px;
    padding: 0 156px;
    flex-direction: row;
    justify-content: space-between;
    .social-media {
      margin-bottom: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h4 {
        margin-bottom: 0;
        margin-right: 17px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
